<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta charset="utf-8" />
    <title></title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="css2/normalize.css" rel="stylesheet" />
    <link href="css3/style3.css" rel="stylesheet" />
    <style>
        body {
            background: url(image/background.jpg) no-repeat;
            background-size: cover;
            background-position: center center;
        }
    </style>
</head>

<body style="background-attachment:fixed" topmargin="0">
    <div class="header">
        <div class="wrapper">
            <div class="navigation">
                <img src="image/chevron-left.png" alt="chevron" />
                <p class="nav">Main Menu</p>
            </div>
        </div>
    </div>

    <div>
        <div class="button1">
            <button class="btn1" href="">What are u doing?</button>
        </div>

        <div class="button2">
            <button class="btn2" href="">
                <div class="form-group-title">
                    <label>
                        <input type="radio" name="category" value="sleeping" /> I'm sleeping
                    </label>
                </div>

                <div class="form-group-title">
                    <label>
                        <input type="radio" name="category" value="playing" /> I'm playing football
                    </label>
                </div>

                <div class="form-group-title">
                    <label>
                        <input type="radio" name="category" value="nothing" /> nothing
                    </label>
                </div>
            </button>
        </div>

        <div class="button3">
            <button class="btn3" href="">Send</button>
        </div>

    </div>
</body>
</html>