<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta charset="utf-8" />
    <title></title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link href="css2/normalize.css" rel="stylesheet" />
    <link href="css2/style2.css" rel="stylesheet" />
    <style>
        body {
            background: url(image/background.jpg) no-repeat;
            background-size: cover;
            background-position: center center;
        }
    </style>
</head>
<body style="background-attachment:fixed" topmargin="0">
    <div class="page">
        <div>
            <h1 class="textTitle">Quizarius</h1>
        </div>

        <div class="button1">
            <button class="btn1" href="">START</button>
        </div>

        <div class="button2">
            <button class="btn2" href="">SHOP</button>
        </div>

        <div class="button3">
            <button class="btn3" href="">STATISTIC</button>
        </div>
    </div>
</body>
</html>